.download {
  width: 100%;
}
.download div:nth-child(1) {
  width: 100%;
  background-image: url('../logo/bg.png');
}
.download div:nth-child(1) .one-body {
  width: 1100px;
  padding: 80px 0 110px 0;
  margin: 0 auto;
  overflow: hidden;
  background-image: none;
}
.download div:nth-child(1) .one-body .one-left {
  float: left;
  width: 556px;
  height: 477px;
  background-image: none;
}
.download div:nth-child(1) .one-body .one-left p {
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  line-height: 25px;
  font-size: 22px;
  opacity: 0.8;
}
.download div:nth-child(1) .one-body .one-left img {
  width: 464px;
  height: 273px;
  margin-left: 45px;
}
.download div:nth-child(1) .one-body .one-left > div {
  width: 100%;
  height: 44px;
  margin: 20px auto;
  background-color: transparent;
  border-bottom: none;
}
.download div:nth-child(1) .one-body .one-left > div span {
  display: inline-block;
  width: 154px;
  height: 100%;
}
.download div:nth-child(1) .one-body .one-left > div span:first-child {
  margin: 0 30px 0 113px;
  background-image: url('../logo/mac.png');
  background-size: 154px 44px;
}
.download div:nth-child(1) .one-body .one-left > div span:last-child {
  background-image: url('../logo/windows.png');
  background-size: 154px 44px;
}
.download div:nth-child(1) .one-body .one-left > a {
  display: block;
  width: 300px;
  height: 65px;
  margin: auto;
  border-radius: 65px;
  background-color: #fff;
  color: #D10000;
  font-size: 22px;
  line-height: 65px;
  text-align: center;
}
.download div:nth-child(1) .one-body .one-left > a:hover {
  background-color: #b9b9b9;
}
.download div:nth-child(1) .one-body .one-right {
  float: left;
  width: 300px;
  height: 474px;
  margin-left: 220px;
  background-color: transparent;
  border-bottom: none;
}
.download div:nth-child(1) .one-body .one-right p {
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
  line-height: 25px;
  font-size: 22px;
  opacity: 0.8;
}
.download div:nth-child(1) .one-body .one-right img {
  width: 246px;
  height: 273px;
  margin-left: 25px;
}
.download div:nth-child(1) .one-body .one-right > div {
  width: 100%;
  height: 44px;
  margin: 20px auto;
  background-color: transparent;
  border-bottom: none;
}
.download div:nth-child(1) .one-body .one-right > div span {
  display: inline-block;
  width: 120px;
  height: 100%;
}
.download div:nth-child(1) .one-body .one-right > div span:first-child {
  margin: 0 30px 0 15px;
  background-image: url('../logo/app.png');
  background-size: 120px 44px;
}
.download div:nth-child(1) .one-body .one-right > div span:last-child {
  background-image: url('../logo/android.png');
  background-size: 120px 44px;
}
.download div:nth-child(1) .one-body .one-right > a {
  position: relative;
  display: block;
  width: 300px;
  height: 65px;
  margin: auto;
  border-radius: 65px;
  background-color: #fff;
  color: #D10000;
  font-size: 22px;
  line-height: 65px;
  text-align: center;
}
.download div:nth-child(1) .one-body .one-right > a:hover {
  background-color: #b9b9b9;
}
.download div:nth-child(1) .one-body .one-right > a::before {
  content: "";
  display: block;
  position: absolute;
  top: 25px;
  left: 70px;
  width: 21px;
  height: 21px;
  background-image: url('../logo/er.png');
  background-size: 21px 21px;
}
.download div:nth-child(2) {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
}
.download div:nth-child(2) .two-body {
  width: 980px;
  height: 437px;
  margin: auto;
  padding-top: 120px;
  background-image: none;
}
.download div:nth-child(2) .two-body .two-left {
  float: left;
  width: 390px;
  height: 145px;
  margin-left: 30px;
  background-image: none;
}
.download div:nth-child(2) .two-body .two-left h3 {
  font-size: 40px;
  font-weight: normal;
  padding: 45px 0 5px 0;
  line-height: 1.15;
}
.download div:nth-child(2) .two-body .two-left p {
  font-size: 16px;
  color: #666;
  line-height: 24px;
}
.download div:nth-child(2) .two-body .two-right {
  float: right;
  width: 408px;
  height: 195px;
  margin-right: 50px;
  border-bottom: none;
}
.download div:nth-child(3) {
  width: 100%;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e3e3e3;
}
.download div:nth-child(3) .three-body {
  width: 980px;
  height: 437px;
  padding-top: 106px;
  margin: auto;
  background-image: none;
}
.download div:nth-child(3) .three-body .three-left {
  float: left;
  width: 447px;
  height: 273px;
  margin-left: 30px;
  background-image: none;
}
.download div:nth-child(3) .three-body .three-right {
  float: right;
  width: 432px;
  height: 144px;
  background-color: #f8f8f8;
  border-bottom: none;
}
.download div:nth-child(3) .three-body .three-right h3 {
  font-size: 40px;
  font-weight: normal;
  padding: 45px 0 5px 0;
  line-height: 1.15;
}
.download div:nth-child(3) .three-body .three-right p {
  font-size: 16px;
  color: #666;
  line-height: 24px;
}
.download div:nth-child(3) .three-body .three-right p em {
  color: #cc0000;
}
.download div:nth-child(4) {
  width: 100%;
  height: 437px;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
}
.download div:nth-child(4) .four-body {
  width: 980px;
  height: 365px;
  margin: auto;
  padding-top: 72px;
  background-image: none;
}
.download div:nth-child(4) .four-body .four-left {
  float: left;
  width: 420px;
  height: 144px;
  margin-left: 30px;
  background-image: none;
}
.download div:nth-child(4) .four-body .four-left h3 {
  font-size: 40px;
  font-weight: normal;
  padding: 45px 0 5px 0;
  line-height: 1.15;
}
.download div:nth-child(4) .four-body .four-left p {
  font-size: 16px;
  color: #666;
  line-height: 24px;
}
.download div:nth-child(4) .four-body .four-left p em {
  color: #cc0000;
}
.download div:nth-child(4) .four-body .four-right {
  float: right;
  width: 463px;
  height: 293px;
  border-bottom: none;
}
.download div:nth-child(5) {
  width: 100%;
  height: 437px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e3e3e3;
}
.download div:nth-child(5) .five-body {
  width: 980px;
  height: 350px;
  margin: auto;
  padding-top: 100px;
  background-image: none;
}
.download div:nth-child(5) .five-body .five-left {
  float: left;
  width: 435px;
  height: 246px;
  margin-left: 30px;
  background-image: none;
}
.download div:nth-child(5) .five-body .five-right {
  float: right;
  width: 412px;
  height: 144px;
  background-color: transparent;
  border-bottom: none;
}
.download div:nth-child(5) .five-body .five-right h3 {
  font-size: 40px;
  font-weight: normal;
  padding: 45px 0 5px 0;
  line-height: 1.15;
}
.download div:nth-child(5) .five-body .five-right p {
  font-size: 16px;
  color: #666;
  line-height: 24px;
}
.download div:nth-child(5) .five-body .five-right p em {
  color: #cc0000;
}
.download div:nth-child(6) {
  width: 100%;
  height: 437px;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
}
.download div:nth-child(6) .six-body {
  width: 980px;
  height: 358px;
  margin: auto;
  padding-top: 53px;
  background-image: none;
}
.download div:nth-child(6) .six-body .six-left {
  float: left;
  width: 412px;
  height: 240px;
  margin-left: 30px;
  background-image: none;
}
.download div:nth-child(6) .six-body .six-left h3 {
  font-size: 40px;
  font-weight: normal;
  padding: 45px 0 5px 0;
  line-height: 1.15;
}
.download div:nth-child(6) .six-body .six-left p {
  font-size: 16px;
  color: #666;
  line-height: 24px;
}
.download div:nth-child(6) .six-body .six-left p em {
  color: #cc0000;
}
.download div:nth-child(6) .six-body .six-right {
  float: right;
  width: 360px;
  height: 100%;
}
